.LoginComponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.LoginComponent-welcome-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.LoginComponent-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.LoginComponent-card-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.LoginComponent-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginComponent-form-field {
  margin-bottom: 15px;
  width: 100%;
}

.LoginComponent-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.LoginComponent-error-input {
  border-color: red;
}

.LoginComponent-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.LoginComponent-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.LoginComponent-button:disabled {
  background-color: #cccccc;
}

.LoginComponent-forgot-password-link {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.LoginComponent-forgot-password-link:hover {
  text-decoration: underline;
}

.LoginComponent-register-button,
.LoginComponent-verify-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  padding: 0;
}

.LoginComponent-user-info {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.LoginComponent-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.LoginComponent-welcome-message {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.LoginComponent-profession {
  font-size: 1rem;
  margin-bottom: 20px;
}

.LoginComponent-counters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
}

.LoginComponent-counter {
  text-align: center;
}

.LoginComponent-counter p {
  margin: 5px 0;
}

.LoginComponent-complete-profile-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.LoginComponent-complete-profile-button:hover {
  background-color: #0056b3;
}

.LoginComponent-welcome-back {
  text-align: center;
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .LoginComponent-card,
  .LoginComponent-user-info {
    max-width: 100%;
    padding: 20px;
  }
   .LoginComponent-welcome-text {
    font-size: 0.8rem;
  }
  .LoginComponent-button {
    padding: 8px;
  }

  .LoginComponent-form-field {
    margin-bottom: 10px;
  }

  .LoginComponent-input {
    padding: 8px;
  }
}
@media (max-width: 768px) {
  .LoginComponent-card,
  .LoginComponent-user-info {
    max-width: 100%;
    padding: 20px;
  }
   .LoginComponent-welcome-text {
    font-size: 0.8rem;
  }
  .LoginComponent-button {
    padding: 8px;
  }

  .LoginComponent-form-field {
    margin-bottom: 10px;
  }

  .LoginComponent-input {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .LoginComponent-welcome-text {
    font-size: 0.8rem;
  }

  .LoginComponent-card-title {
    font-size: 1.2rem;
  }

  .LoginComponent-profile-image {
    width: 80px;
    height: 80px;
  }

  .LoginComponent-complete-profile-button {
    padding: 8px 16px;
  }

  .LoginComponent-welcome-back {
    font-size: 1rem;
  }
}
