html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
}

/* Footer Styles */
.footer-global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40;
  color: white;
  width: 100%;
}

.footer-global .nav-links,
.footer-global .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.footer-global .social-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-global .nav-links a {
  color: white;
  text-decoration: none;
}

.footer-global .nav-links a:hover,
.footer-global .social-links a:hover {
  color: #ffc107;
}
