html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.AppRoutes-mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40;
  color: white;
  width: 100%;
  position: relative; /* Assurez-vous que c'est 'relative' pour qu'il reste en bas */
}
