.PortfolioFooter {
  background-color: #343a40;
  color: white;
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  display:flex;
  justify-content: space-around;
  padding: 5px 0;
}

.PortfolioFooter-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between; /* Space elements between left and right */
  align-items: center;
  padding: 0 10px;
}

.PortfolioFooter-social-media-links {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
}

.PortfolioFooter-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PortfolioFooter-useful-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
}

.PortfolioFooter-text-muted {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 0.8rem; /* Ensure text is readable */
}

.PortfolioFooter-email-link,
.PortfolioFooter-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 0.8rem;
}

.PortfolioFooter-email-link:hover,
.PortfolioFooter-link:hover {
  color: white;
}

.PortfolioFooter-social-media-links .PortfolioFooter-social-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem; /* Icon size adjusted to match text */
  transition: color 0.3s ease;
  margin-right: 10px; /* Add margin for spacing between icons */
}

.PortfolioFooter-social-link:hover {
  color: white;
}
