.navbar {
  background: transparent;
  color: black;
}

.navbar-logo {
  height: 30px;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #0071e3;
}

.navbar-toggler-icon {
  color: black;
}

.dropdown-menu {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-search input {
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
}

.navbar-search button {
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}

.navbar-search button:hover {
  background-color: #005bb5;
}

.navbar-separator {
  width: 1px;
  height: 30px;
  background-color: black;
  margin: 0 20px;
}

.navbar-auth {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-profile-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}
