.screen-image-previews {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.screen-image-preview-container {
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.screen-image-preview-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.screen-edit-icon,
.screen-delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

.screen-edit-icon {
  right: 30px;
}

.screen-delete-icon {
  right: 5px;
}

.screen-text-danger {
  color: red;
  margin: 10px;
}
