body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f2ef;
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #0073b1;
}

.home-job {
  /* max-width: 200%;
  margin: 20px auto; */
  background-color: #fff;
}

.create-post {
  display: flex;
  align-items: center;
}

.post-card {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-card h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #0073b1;
}

.post-card p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.6;
}

.post-card .post-meta {
  font-size: 0.9em;
  color: #777;
}

.comment-section {
  background: #f3f2ef;
  border-radius: 8px;
  padding: 20px;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-card {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-card p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.4;
}

.comment-card .comment-meta {
  font-size: 0.8em;
  color: #777;
}

.button-group {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.button-group button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #0073b1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-group button:hover {
  background-color: #005582;
}

.button-group button svg {
  margin-right: 5px;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.post-stats div {
  display: flex;
  align-items: center;
}

.post-stats div svg {
  margin-right: 5px;
}

.post-stats .likes {
  color: #0073b1;
}
