.ModalUserProfile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ModalUserProfile-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ModalUserProfile-image {
  width: 100%;
  height: auto;
}

.ModalUserProfile-close,
.ModalUserProfile-control-prev,
.ModalUserProfile-control-next {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
}

.ModalUserProfile-close {
  right: 10px;
  top: 10px;
}

.ModalUserProfile-control-prev {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.ModalUserProfile-control-next {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
