.profile-section {
  padding: 20px;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-body .card {
  margin-bottom: 20px;
}

.profile-body .card-title {
  margin-bottom: 15px;
}

.profile-body .list-inline-item {
  margin-right: 10px;
}

.profile-body .fab {
  margin-right: 5px;
}
