/* Conteneur principal pour MediaInfo */
.MediaInfo-container {
  padding: 20px;
}

/* Formulaire dans MediaInfo */
.MediaInfo-form {
  margin-top: 20px;
}

/* Conteneur des boutons dans MediaInfo */
.MediaInfo-button-container {
  display: flex;
  justify-content: space-between;
}

/* Message de succès pour l'ajout d'image */
.MediaInfo-success-message {
  color: green;
  font-weight: bold;
}

/* Icônes d'en-tête dans MediaInfo */
.MediaInfo-header-icons {
  display: flex;
  justify-content: space-between;
}

/* Style pour chaque icône dans MediaInfo */
.MediaInfo-icon {
  cursor: pointer;
  font-size: 24px;
}
