.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.carousel-image-container {
  position: relative;
  width: 80%;
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: left 0.5s ease-in-out;
  opacity: 0;
}

.carousel-image.active {
  left: 0;
  opacity: 1;
}

.profile-header {
  position: relative;
}

.edit-profile-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.video-gallery {
  display: flex;
  overflow-x: auto;
}
