.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: -90px; /* Adjust distance from left */
}

.carousel-control-next {
  right: 50%; /* Adjust distance from right */
}

.carousel-image-container {
  position: relative;
  width: 40%;
  height: 150px; /* Adjust height as needed */
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: left 0.5s ease-in-out;
  opacity: 0;
}

.carousel-image.active {
  left: 0;
  opacity: 1;
}

.profile-header {
  position: relative;
}

.edit-profile-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.video-gallery {
  display: flex;
  overflow-x: auto;
}

.vertical-line {
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.text-left {
  text-align: left;
}

.profile-section h3,
.profile-section p,
.profile-section ul {
  text-align: left;
}
